<a href="https://colab.research.google.com/github/khcolin/instagram/blob/master/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#2-1.
num = "881120-1068234"
#다음 코드 부분을 완성해 보세요.
date = num[0:6]          #생년월일 슬라이싱
id_num = num[7:14]        # 뒤의 숫자 부분 슬라이싱
print(date)
print(id_num)

881120
1068234

In [2]:
#2-2.
pin = '881120-1068234'
# 다음 코드를 완성하세요.
key_1 =pin[7]  #성별 부분 인덱싱
print(key_1)

1

In [3]:
# 다음 코드를 완성하여라. if 다음을 완성하시오.
if  key_1=="2"     :
    print("홍길동씨는 여성입니다.")
else :
    print("홍길동씨는 남성입니다.")

홍길동씨는 남성입니다.

In [4]:
#2-3.
#다음 코드를 완성하시오.
char_1 = "a:b:c:d"
char_1.replace(":","#"    )           #replace는 괄호안에 ('문자열1', '문자열2')와 같이 써서 문자열1을 문자열2로 바꾼다.

'a#b#c#d'

In [8]:
# 코드를 완성하세요.
char_2 = char_1.split(':')  # 문자열.split(나누는 기준)
print(char_2)
char_3 = "#".join(char_2)            #문자열.join(리스트명)
char_3

['a', 'b', 'c', 'd']

'a#b#c#d'

In [9]:
#2-4.
# 다음 코드를 완성하시오.
fah = [70, 55, 45, 40, 37, 32, 20, 18, 20]
ind_1 = int(input("몇번을 섭씨로 바꿀까요?"))
celci = 5/9 *( fah[ind_1]-32  )
print(f'{ind_1} 번 화씨를 섭씨로 바꾸면 {celci :.4f}')

몇번을 섭씨로 바꿀까요?0
0 번 화씨를 섭씨로 바꾸면 21.1111

In [10]:
#2-5.
cha = ['Life', 'is', 'too', 'short']
#다음을 완성하시오. join 함수를 사용하세요.
print(" ".join(cha)     )

Life is too short

In [18]:
#2-6.
a = [1, 3, 5, 4, 2]
#다음을 완성하시오.
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [27]:
#2-7.
tuple_1 = (1, 2, 3)
# 아래에 코드를 완성하시오.
tuple_2=(4,)
tuple_3=tuple_1+tuple_2
print(tuple_3)

(1, 2, 3, 4)